.tile{
    width: 80px;
    height: 80px;
    border: 1px solid lightskyblue;
    border-radius: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s  ease-in-out;
    background-color: aliceblue;
}

.tile:hover{
    cursor: pointer;
    background-color: lightskyblue;
}

.tile.empty{
    background-color: rgb(105, 105, 105);
}